.cover {
  background: #F2F2F2;
}

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}

@media (max-width: 415px) {
  
}
