.newsletter-subscribe {
    color: #FFFFFF;
    background-color: #222F3A;
    padding: 70px 0px 70px 0px;
  }
  
  .newsletter-subscribe p {
    font-size: 28px;
    color: #FFFFFF;
    line-height: 1.5;
  }
  
  .newsletter-subscribe h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: inherit;
  }
  
  .newsletter-subscribe .intro {
    font-size: 24px;
    max-width: 500px;
    margin: 0 auto 25px;
  }
  
  .newsletter-subscribe .intro p {
    margin-bottom: 35px;
  }
  
  .newsletter-subscribe form {
      margin-top: 20px;
    justify-content: center;
  }
  
  .newsletter-subscribe form .form-control {
    font-size: 18px;
    background: #eff1f4;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 9px;
    height: 45px;
    margin-right: 10px;
    min-width: 250px;
  }
  
  .newsletter-subscribe form .btn {
    padding: 16px 32px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
  }
  
  .newsletter-subscribe form .btn:hover {
    opacity: 1;
  }
  
  .newsletter-subscribe form .btn:active {
    transform: translateY(1px);
  }
  
  .newsletter-subscribe form .btn-primary {
    background-color: #F2F2F2 !important;
    color: #222F3A;
    outline: none !important;
  }
  
  